:root {
  --jetskyblue: #145894;
  --slate: #222222;
  --darkjetblue: #0a2136;
  --crimson: #6d0000;
}

.fullWidth {
  width: 100%;
}

.button {
  border: 1px solid #000;
  border-radius: 0.1875rem;
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  font-weight: 700;
  padding: 0.75rem 1.25rem 0.625rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s,
    border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  position: inline;
  color: var(--jetskyblue);
  margin: 3rem;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--jetskyblue);
  border-color: #000;
  color: #fff;
}

.articleImage {
  width: 40vw;
}

li,
ul,
ol,
dt,
dd {
  padding: 0.15rem;
  font-family: "Playfair Display", serif;
  color: var(--slate);
}

.center {
  margin: auto;
  width: 50%;
}

h1,
h2,
h3 {
  font-family: "Tinos", serif;
  color: var(--darkjetblue);
}

p,
ul,
ol,
a {
  font-family: "Playfair Display", serif;
  color: var(--slate);
  margin: 2rem;
}

a:hover {
  color: var(--crimson);
}

.blackline {
  stroke: black;
  stroke-width: 3;
}

.blueline {
  stroke: navy;
  stroke-width: 3;
}

.deadCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}

.hero {
  position: relative;
  left: 0%;
  margin-left: px;
  margin-right: 0;
  width: 100%;
}

.hero .heroText {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  top: 40rem;
  right: 0rem;
  color: red;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.hero h1,
.hero p {
  font-family: "Tinos", serif;
  color: white;
  margin-left: 5rem;
}

.hero h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
}

.hero p {
  font-size: 1.5rem;
  margin-top: 0;
}

.cards {
  display: flex;
}

a {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.text {
  position: relative;
}

.text div {
  position: absolute;
  top: 0;
  left: 32px;
  right: 0;
  bottom: 0;
  width: 350px;
  height: 350px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia,
    serif;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 0.3s ease-in-out;
}

.text:hover div {
  opacity: 0;
}
